#left, #right{
  width: 200px;
}

div.left-box {
  float: left;
}

div.button-panel{
  text-align: center;
  float: left;
  width: 200px;
}

div.button-panel input{
  background-color:#FF6000;
  color: white;
  font-size: 16px;
  font-family: Tahoma;
  padding: 5px 10px;
  width: 100px;
  font-weight: bold;
}